###################################
# Java / Gradle
###################################
build/
.gradle/
out/
*.class

###################################
# Logs
###################################
*.log

###################################
# IntelliJ IDEA
###################################
.idea/
*.iml

###################################
# VS Code
###################################
.vscode/

###################################
# OS files
###################################
.DS_Store
Thumbs.db

###################################
# Environment / secrets
###################################
.env
application-local.properties
application-secret.properties

###################################
# Java temporary files
###################################
*.tmp
*.swp

###################################
# Claude Code files
###################################
.claude/
CLAUDE.MD

###################################
# Misc
####################################
bin/

###################################
# Cahier des charges
###################################
BookHub - Cahier des Charges.md